
<script>
function estimationCount() {
    
	
	var total_words = document.calculator.total_words.value.replace(/[^0-9]/g,'');
	if (total_words>0) {
			total_count_words = total_words;
	}
	else{
		var text = document.calculator.txt.value;
		var words = text.replace(/[,;.!:—\/]/g, ' ').replace(/[^a-zA-Z\d\s&:]/g, '').match(/\S+/g);
	 	total_count_words = words.length;
	}
	
	var choose_font = document.calculator.choose_font.value;
    var choose_size = document.calculator.choose_size.value;
	var choose_spacing = document.calculator.choose_spacing.value;
    
    var count = (1/choose_size)*(choose_font*1)*total_count_words*choose_spacing/450;
	count = Math.round(count*10)/10; 
	
    if (totalCount) { 
	totalCount.innerHTML = '<li class="list-group-item"><span class="label label-success">'+ count + '</span><small> &nbsp;Pages</small></li>'; 
	}
}
</script>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
		
		<h1 class="page-header">Words to Pages </h1>
			
			
		 	<ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
				<li>How many pages required for specific words</li>
            </ol>
        
            
			
			<form name="calculator">
			
		

			 <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a showtab="" href="#service-one">Service One</a>
                </li>
                <li><a showtab="" href="#service-two" >Service Two</a>
                </li>
				</ul>
				
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">
             
			        
			<div class="form-group col-lg-3">
				<label for="words">Total words</label>                        
				<input name="total_words" value="0" onkeyup="estimationCount();" onkeydown="if (event.keyCode === 13) { return false; }" class="form-control" />
			</div>
			
                </div>
				
			
			<div class="tab-pane fade" id="service-two">
			
			<div class="row">
			<div class="form-group col-lg-10">
			 <label for="words">Start typing, or copy and paste your document here...</label>           				
			<textarea id="txt" name="txt" rows="12" onkeyup="estimationCount();" style="resize: none; overflow: hidden; word-wrap: break-word; height: 254px;" class="form-control garlic-auto-save processed" placeholder="Start typing, or copy and paste your document here..." data-autosize-on="true"></textarea>
			</div>
			</div>
			
			</div>
			
			
			<div class="row">
			
			<div class="form-group col-sm-2">
			<label for="choose_font">Choose Font</label>
			<select name="choose_font" onchange="estimationCount();" class="form-control">
				  <option selected="selected" value="1">Arial</option>
				  <option value="0.946">Calibri</option>
				  <option value="1.277">Comic Sans MS</option>
				  <option value="1.243">Courier</option>
				  <option value="1.13">Times New Roman</option>
				  <option value="1.212">Verdana</option>
			</select>
			</div>
			
			<div class="form-group col-sm-2">
			<label for="choose_size">Choose Size</label>			
			<select name="choose_size" onchange="estimationCount();" class="form-control">
				<option value="1.522">10</option>
				<option value="1.206">11</option>
				<option selected="selected" value="1">12</option>				
				<option value="0.859">13</option>
				<option value="0.789">14</option>
        	</select>
			</div>
			
			<div class="form-group col-sm-2">
			<label for="choose_spacing">Choose Spacing</label>			
			<select name="choose_spacing" onchange="estimationCount();" class="form-control">
          		<option value="1">single</option>
          		<option value="1.267">1.5</option>
          		<option value="1.644">double</option>
        	</select>
		  </div>

		
	
		</div>
				
				  
		</form>	
		

		<div class="row">
		<div class="col-sm-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <strong>Results!</strong>
                </div>
                 <ul class="list-group" id="totalCount">
                    <li class="list-group-item"><span class="label label-success">0</span><small> &nbsp;Pages</small></li>
                </ul>
            </div>
        </div>
		</div>
		
		</div>
		</div>
			
			<div class="row">
			<div class="col-lg-12">
			
            <ol class="breadcrumb">
              <li>General Calculation</li>
				<li> on font: arial, font size: 12, single spaced</li>
            </ol>
        </div>

    </div>

    
<div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>How many words per page?</strong>
                </div>
				
                 <ul class="list-group">
				 
                    <li class="list-group-item">
					<span class="label label-info">500</span><small> words</small>
					<span class="label label-success">1.1</span><small> pages</small>
					</li>
				
					 
				    <li class="list-group-item">
					<span class="label label-info">600</span><small> words</small>
					<span class="label label-success">1.3</span><small> pages</small>
					</li>
					
				    <li class="list-group-item">
					<span class="label label-info">750</span><small> words</small>
					<span class="label label-success">1.7</span><small> pages</small>
					</li>
                    
				   
				    <li class="list-group-item">
					<span class="label label-info">800</span><small> words</small>
					<span class="label label-success">1.8</span><small> pages</small>
					</li>
				   
				    <li class="list-group-item">
					<span class="label label-info">1000</span><small> words</small>
					<span class="label label-success">2.2</span><small> pages</small>
					</li>
                    
				    <li class="list-group-item">
					<span class="label label-info">1200</span><small> words</small>
					<span class="label label-success">2.7</span><small> pages</small>
					</li>
					
					
					<li class="list-group-item">
					<span class="label label-info">1500</span><small> words</small>
					<span class="label label-success">3.3</span><small> pages</small>
					</li>
                    
					
					<li class="list-group-item">
					<span class="label label-info">2000</span><small> words</small>
					<span class="label label-success">4.4</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">2500</span><small> words</small>
					<span class="label label-success">5.6</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">3000</span><small> words</small>
					<span class="label label-success">6.7</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">4000</span><small> words</small>
					<span class="label label-success">8.9</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">5000</span><small> words</small>
					<span class="label label-success">11.1</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">6000</span><small> words</small>
					<span class="label label-success">13.3</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">8000</span><small> words</small>
					<span class="label label-success">17.8</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">10000</span><small> words</small>
					<span class="label label-success">22.2</span><small> pages</small>
					</li>
					
				</ul>
		</div>
</div>
		
		
    	<div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>How many pages per word(s)? </strong>
                </div>
				
                 <ul class="list-group">
				 
					
					<li class="list-group-item">
					<span class="label label-info">450 </span> <small> words   </small>
					<span class="label label-success">1</span><small> page</small>
					</li>
				
					 
				    <li class="list-group-item">
					<span class="label label-info">900</span><small> words</small>
					<span class="label label-success">2</span><small> pages</small>
					</li>
					
				    <li class="list-group-item">
					<span class="label label-info">1350</span><small> words</small>
					<span class="label label-success">3</span><small> pages</small>
					</li>
                    
				   
				    <li class="list-group-item">
					<span class="label label-info">1800 </span><small> words</small>
					<span class="label label-success">4</span><small> pages</small>
					</li>
				   
				    <li class="list-group-item">
					<span class="label label-info">2250 </span><small> words</small>
					<span class="label label-success">5</span><small> pages</small>
					</li>
                    
				    <li class="list-group-item">
					<span class="label label-info">2700 </span><small> words</small>
					<span class="label label-success">6</span><small> pages</small>
					</li>
					
					
					<li class="list-group-item">
					<span class="label label-info">3150</span><small> words</small>
					<span class="label label-success">7</span><small> pages</small>
					</li>
                    
					
					<li class="list-group-item">
					<span class="label label-info">3600 </span><small> words</small>
					<span class="label label-success">8</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">4500 </span><small> words</small>
					<span class="label label-success">10</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">5400 </span><small> words</small>
					<span class="label label-success">12</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">6750</span><small> words</small>
					<span class="label label-success">15</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">9000</span><small> words</small>
					<span class="label label-success">20</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">13500 </span><small> words</small>
					<span class="label label-success">30</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">22500 </span><small> words</small>
					<span class="label label-success">50</span><small> pages</small>
					</li>
					
					<li class="list-group-item">
					<span class="label label-info">45000 </span><small> words</small>
					<span class="label label-success">100</span><small> pages</small>
					</li>
					
				</ul>
		</div>
</div>    
      

    </div>

</div>
<!-- /.container -->

